.summary{
    width: 50%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 15%;
}


.presentation{
    width:40%;
    margin: auto;
    margin-bottom: 1%;
    color:#000543;;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
}
.description{
    color:#000543;;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

.horizontal-image{   
    width: 100%;
    position: relative;
    left: -1px;
    margin-top: 10%;
    margin-bottom: 0;

}
#container-options{
    width: 80%;
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    min-height: 700px;
    font-family: 'Quicksand', sans-serif;
    
}
#container{
    background-color: #8abde833; ;
}
.option-item{
    margin: auto;
    text-align: center;
}
.first-title-option{
    color: #8abde8;
    font-size: 70px;
}
.subtitle-title-option{
  color:  #000543;
  font-size: 24px;
}
.description-option{
    color: #0a0a0aa6;
    text-align: center;
    font-size: 15px;
}