ul {
    height: 55px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
h2{
    size:20px;
    color:#111;
}

p{
    size:14px;
    color:#111;
}

#all-elements{
    margin: 15px 15%;
}


.slider-container
{
    width: 800px;
    height: 400px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-container
{
    width: 2400px;
    background-color: red;
    height: 400px;
    clear: both;
    position: relative;
   
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}
#slider-image-1:target ~ .image-container
{
   left: 0px;
}
#slider-image-2:target ~ .image-container
{
   left: -800px;
}
#slider-image-3:target ~ .image-container
{
   left: -1600px;
}